{% extends 'layout.html' %}


{% block body %}
<div class="card text-white bg-info mb-3" style="border: none;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="../static/MADLogo.png" class="card-img" alt="">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Welcome to the TSEC CMS</h5>
                <p class="card-text">This app is built to register complaints on your behalf for the betterment of TSEC.
                </p>
                <p class="card-text"><small>Made as a task for MAD Club TSEC</small></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}